name: Build, Version & Publish

permissions:
  contents: write

on:
  push:
    branches: [production]

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"

      - name: Setup Node.js & Auth
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"
          scope: "@joeygrable94"

      - name: Install PNPM
        run: npm install -g pnpm

      - name: Install & Build
        run: |
          pnpm install
          pnpm run build

      - name: Bump patch version
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git stash --include-untracked
          npm version patch -m "chore(release): v%s"
          git stash pop || true

      - name: Push version commit & tag
        uses: ad-m/github-push-action@v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: production

      - name: Publish to npm
        run: npm publish --access public
